<h3>{{ _('Resource Monitor Settings') }}</h3>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="resource_monitor_temperature_unit">{{ _('Temperature unit') }}</label>
            <div class="controls">
                <select id="resource_monitor_temperature_unit" class="span6" data-bind="value: settingsViewModel.settings.plugins.resource_monitor.temperature.unit">
                    <option value="celsius">{{ _('Celsius (°C)') }}</option>
                    <option value="fahrenheit">{{ _('Fahrenheit (°F)') }}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="resource_monitor_refresh_rate">{{ _('Graph refresh rate') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input class="input-mini" id="resource_monitor_refresh_rate" type="number" step="1" min="1" data-bind="value: settingsViewModel.settings.plugins.resource_monitor.refresh_rate">
                    <span class="add-on">{{ _('seconds') }}</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="resource_monitor_duration">{{ _('Graph length') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input class="input-mini" id="resource_monitor_duration" type="number" step="1" min="1" data-bind="value: settingsViewModel.settings.plugins.resource_monitor.duration">
                    <span class="add-on">{{ _('seconds') }}</span>
                </div>
            </div>
        </div>
        <div class="alert alert-info">
            {{ _("You will have to restart OctoPrint for these settings to take effect.") }}
        </div>
        <div class="control-group">
            <label class="control-label" for="resource_monitor_network_exceptions">{{ _('Network Exceptions') }}</label>
            <div class="controls">
                <select id="resource_monitor_network_exceptions" class="span6" multiple="multiple" data-bind="selectedOptions: settingsViewModel.settings.plugins.resource_monitor.network.exceptions">
                    {% for nic in plugin_resource_monitor_all_network %}
                        <option value="{{ nic.name }}">{{ nic.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="resource_monitor_disk_exceptions">{{ _('Disk Exceptions') }}</label>
            <div class="controls">
                <select id="resource_monitor_disk_exceptions" class="span6" multiple="multiple" data-bind="selectedOptions: settingsViewModel.settings.plugins.resource_monitor.disk.exceptions">
                    {% for disk in plugin_resource_monitor_all_partitions %}
                        <option value="{{ disk.mountpoint }}">{{ disk.mountpoint }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <p>
            {{ _("Select what you want to <strong>hide</strong>.") }}<br/>
            {{ _("Use <code>CTRL+Click</code> to select/deselect multiple options.") }}
        </p>
        <div>
            <div>
                <small>
                    <a href="#" class="muted" onclick="$(this).children().toggleClass('fa-caret-right fa-caret-down').parent().parent().parent().next().slideToggle('fast')">
                        <i class="fas fa-caret-right"></i> Advanced options
                    </a>
                </small>
            </div>
            <div class="hide">
                <div class="control-group" title="{{ _('Display network interface speed') }}">
                    <div class="controls">
                        <label class="checkbox" for="resource_monitor_use_net_if_stats">
                            <input type="checkbox" id="resource_monitor_use_net_if_stats" data-bind="checked: settingsViewModel.settings.plugins.resource_monitor.use_net_if_stats" />{{ _('Display network interface speed') }}
                        </label>
                        <span class="help-inline">{{ _('Enabling this can cause printer freezes and blobs in some cases.') }}</span>
                    </div>
                </div>
                <div class="control-group" title="{{ _('Enable debug profiling') }}">
                    <div class="controls">
                        <label class="checkbox" for="resource_monitor_enable_profiling">
                            <input type="checkbox" id="resource_monitor_enable_profiling" data-bind="checked: settingsViewModel.settings.plugins.resource_monitor.enable_profiling" />{{ _('Enable profiling') }}
                        </label>
                        <span class="help-inline">{{ _('Do not forget to disable this afterwards. This will create large log files.') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
