<div class="row-fluid">
    <div class="span4">
        <ul class="nav nav-list">
            {% include "includes/nav/cpu.jinja2" %}
            {% include "includes/nav/temp.jinja2" %}
            {% include "includes/nav/memory.jinja2" %}
            {% include "includes/nav/partitions.jinja2" %}
            {% include "includes/nav/networks.jinja2" %}
            {% include "includes/nav/battery.jinja2" %}
        </ul>
    </div>
    <div class="span8">
        <div class="tab-content">
            {% include "includes/content/cpu.jinja2" %}
            {% include "includes/content/temp.jinja2" %}
            {% include "includes/content/memory.jinja2" %}
            {% include "includes/content/partitions.jinja2" %}
            {% include "includes/content/networks.jinja2" %}
            {% include "includes/content/battery.jinja2" %}
        </div>
    </div>
</div>
