<div class="row-fluid">
    <div class="span4">
        <ul class="nav nav-list">
            <li class="active">
                <a href="#resource_monitor_cpu_tab" data-toggle="tab">
                    <div class="row-fluid">
                        <div class="span5">
                            <div id="resource-monitor-mini-cpu" class="resource-monitor-mini-plot"></div>
                        </div>
                        <div class="span7">
                            {{ _("Processor") }}<br/>
                            <small>
                                <span data-bind="text: cpuPercent"></span>% <span data-bind="text: cpuFrequency"></span> GHz
                            </small>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#resource_monitor_memory_tab" data-toggle="tab">
                    <div class="row-fluid">
                        <div class="span5">
                            <div id="resource-monitor-mini-memory" class="resource-monitor-mini-plot"></div>
                        </div>
                        <div class="span7">
                            {{ _("Memory") }}<br/>
                            <small>
                                <span data-bind="text: memoryUsed"></span>/<span data-bind="text: memoryTotal"></span> <span data-bind="text: memoryUnit"></span> (<span data-bind="text: memoryPercent"></span>%)
                            </small>
                        </div>
                    </div>
                </a>
            </li>
            <!-- ko foreach: { data: partitions, afterRender: onDiskMiniRender } -->
                <li>
                    <a data-toggle="tab" data-bind="attr: {href: '#resource_monitor_disk_' + $index() + '_tab'}">
                        <div class="row-fluid">
                            <div class="span5">
                                <div class="resource-monitor-mini-plot"></div>
                            </div>
                            <div class="span7">
                                {{ _("Disk") }} (<span data-bind="text: $data.mountpoint"></span>)<br/>
                                <small>
                                    Placeholder
                                </small>
                            </div>
                        </div>
                    </a>
                </li>
            <!-- /ko -->
        </ul>
    </div>
    <div class="tab-content span8">
        <div id="resource_monitor_cpu_tab" class="tab-pane active">
            <div id="resource-monitor-cpu" class="resource-monitor-cpu"></div>
            <div id="resource-monitor-cpu-average" class="resource-monitor-cpu"></div>
        </div>
        <div id="resource_monitor_memory_tab" class="tab-pane">
            Memory details here
        </div>
    </div>
</div>
