{% if plugin_resource_monitor_battery %}
    <div id="resource_monitor_battery_tab" class="tab-pane">
        <div class="row-fluid">
            <div class="span12">
                <h4>{{ _("Battery") }}</h4>
            </div>
        </div>
        <div class="row-fluid resource-scale">
            <span class="tiny-text">100 %</span>
        </div>
        <div class="row-fluid">
            <div class="span12 detail-plot-container">
                <div class="detail-plot"></div>
            </div>
        </div>
        <div class="row-fluid resource-scale">
            <span class="tiny-text">0 %</span>
        </div>
        <!-- ko with: battery() -->
            <div class="row-fluid resource-details">
                <div class="span4">
                    <span class="tiny-text">{{ _("Charge") }}</span><br/>
                    <span data-bind="text: percent.toFixed(1)"></span> {{ _('&#37') }}
                </div>
                <div class="span4">
                    <span class="tiny-text">{{ _("Remaining") }}</span><br/>
                    <span data-bind="text: secsleft < 0? '&infin;': Math.floor(secsleft/60)"></span> {{ _('minutes') }}
                </div>
                <div class="span4">
                    <span class="tiny-text">{{ _("Charging") }}</span><br/>
                    <span data-bind="text: power_plugged? 'Yes':'No' "></span>
                </div>
            </div>
        <!-- /ko -->
    </div>
{% endif %}
