<div id="resource_monitor_cpu_tab" class="tab-pane active">
    <div class="row-fluid">
        <div class="span12">
            <h4>{{ _("Processor") }}</h4>
        </div>
    </div>
    {% set core_count = plugin_resource_monitor_cpu.cores|length %}
    {% if core_count > 4 and core_count % 4 == 0 %}
        {% set nb_columns = 4 %}
    {% elif core_count % 3 == 0 %}
        {% set nb_columns = 3 %}
    {% elif core_count % 2 == 0 %}
        {% set nb_columns = 2 %}
    {% else %}
        {% set nb_columns = 1 %}
    {% endif %}
    <div class="row-fluid resource-scale">
        <span class="tiny-text">100 %</span>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="detail-plot-container cpu-grid cpu-grid-{{ nb_columns }}">
                {% for core in plugin_resource_monitor_cpu.cores %}
                    <div class="detail-plot"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row-fluid resource-scale">
        <span class="tiny-text">0 %</span>
    </div>
    <!-- ko with: cpu() -->
        <div class="row-fluid resource-details">
            <div class="span4">
                <span class="tiny-text">{{ _("Usage") }}</span><br/>
                <span data-bind="text: Math.round(average)"></span>%
            </div>
            <div class="span4">
                <span class="tiny-text">{{ _("OctoPrint") }}</span><br/>
                <span data-bind="text: octoprint.toFixed(1)"></span>%
            </div>
            <!-- ko if: frequency.current -->
                <div class="span4">
                    <span class="tiny-text">{{ _("Speed") }}</span><br/>
                    <span data-bind="text: (frequency.current/1000).toFixed(2)"></span> {{ _("GHz") }}
                </div>
            <!-- /ko -->
        </div>
        <div class="row-fluid">
            <div class="span4">
                <span class="tiny-text">{{ _("Cores") }}</span><br/>
                <span data-bind="text: core_count"></span>
            </div>
            <div class="span4">
                <span class="tiny-text">{{ _("Threads") }}</span><br/>
                <span data-bind="text: thread_count"></span>
            </div>
            <!-- ko if: frequency.min > 0 -->
                <div class="span4">
                    <span class="tiny-text">{{ _("Base clock") }}</span><br/>
                    <span data-bind="text: (frequency.min/1000).toFixed(2)"></span> {{ _("GHz") }}
                </div>
            <!-- /ko -->
        </div>
        <div class="row-fluid">
            <div class="span4">
                <span class="tiny-text">{{ _("Uptime") }}</span><br/>
                <span data-bind="text: $root.formatSeconds(uptime)"></span>
            </div>
            <div class="span4">
                <span class="tiny-text">{{ _("Processes") }}</span><br/>
                <span data-bind="text: pids"></span>
            </div>
        </div>
    <!-- /ko -->
</div>
