{% for disk in plugin_resource_monitor_diskio %}
    <div id="resource_monitor_diskio_{{ loop.index - 1 }}_tab" class="tab-pane">
        <div class="row-fluid">
            <div class="span8">
                <h4>{{ _("Disk I/O") }} {{ loop.index - 1 }}</h4>
            </div>
            <!-- ko with: diskio()[{{ loop.index - 1 }}] -->
                <div class="span4">
                    <h5 data-bind="text: name, attr: {'title': name}"></h5>
                </div>
            <!-- /ko -->
        </div>
        <!-- ko with: diskio()[{{ loop.index - 1 }}]-->
            <div class="row-fluid resource-scale">
                <span class="tiny-text" data-bind="text: filesize($root.maxIoSpeeds()[{{ loop.index - 1 }}])"></span>/s
            </div>
        <!-- /ko -->
        <div class="row-fluid">
            <div class="span12 detail-plot-container">
                <div class="detail-plot"></div>
            </div>
        </div>
        <div class="row-fluid resource-scale">
            <span class="tiny-text">0 B/s</span>
        </div>
        <!-- ko with: diskio()[{{ loop.index - 1 }}]-->
            <div class="row-fluid resource-details">
                <div class="span6">
                    <span class="tiny-text">{{ _("Read") }}</span><br/>
                    <span data-bind="text: filesize($root.readSpeeds()[{{ loop.index - 1 }}])"></span>/s
                </div>
                <div class="span6">
                    <span class="tiny-text">{{ _("Write") }}</span><br/>
                    <span data-bind="text: filesize($root.writeSpeeds()[{{ loop.index - 1 }}])"></span>/s
                </div>
            </div>
        <!-- /ko -->
    </div>
{% endfor %}
