<div id="resource_monitor_memory_tab" class="tab-pane">
    <div class="row-fluid">
        <div class="span12">
            <h4>{{ _("Memory") }}</h4>
        </div>
    </div>
    <!-- ko with: memory() -->
        <div class="row-fluid resource-scale">
            <span class="tiny-text" data-bind="text: filesize(total, {round: 1})"></span>
        </div>
    <!-- /ko -->
    <div class="row-fluid">
        <div class="span12 detail-plot-container">
            <div class="detail-plot"></div>
        </div>
    </div>
    <div class="row-fluid resource-scale">
        <span class="tiny-text">0 B</span>
    </div>
    <!-- ko with: memory() -->
        <div class="row-fluid resource-details">
            <div class="span4">
                <span class="tiny-text">{{ _("Used") }}</span><br/>
                <span data-bind="text: filesize(used, {round: 1})"></span> (<span data-bind="text: Math.round(percent)"></span>%)
            </div>
            <div class="span4">
                <abbr title="{{ _('Free memory is the amount of memory which is currently not used for anything.') }}">
                    <span class="tiny-text">{{ _("Free") }}</span>
                </abbr><br/>
                <span data-bind="text: filesize(free, {round: 1})"></span>
            </div>
            <div class="span4">
                <abbr title="{{ _('Available memory is the amount of memory which is available for allocation to a new process or to existing processes.') }}">
                    <span class="tiny-text">{{ _("Available") }}</span>
                </abbr><br/>
                <span data-bind="text: filesize(available, {round: 1})"></span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <span class="tiny-text">{{ _("Total") }}</span><br/>
                <span data-bind="text: filesize(total, {round: 1})"></span>
            </div>
        </div>
    <!-- /ko -->
</div>
