{% for nic in plugin_resource_monitor_network %}
    <div id="resource_monitor_network_{{ loop.index - 1 }}_tab" class="tab-pane">
        <div class="row-fluid">
            <div class="span12">
                <h4>{{ _("Network") }} {{ loop.index - 1 }}</h4>
            </div>
        </div>
        <!-- ko with: network()[{{ loop.index - 1 }}]-->
            <div class="row-fluid resource-scale">
                <span class="tiny-text" data-bind="text: filesize($root.maxSpeeds()[{{ loop.index - 1 }}], {bits: true})"></span>/s
            </div>
        <!-- /ko -->
        <div class="row-fluid">
            <div class="span12 detail-plot-container">
                <div class="detail-plot"></div>
            </div>
        </div>
        <div class="row-fluid resource-scale">
            <span class="tiny-text">0 b/s</span>
        </div>
        <!-- ko with: network()[{{ loop.index - 1 }}]-->
            <div class="row-fluid resource-details">
                <div class="span4">
                    <span class="tiny-text">{{ _("Down") }}</span><br/>
                    <span data-bind="text: filesize($root.downloadSpeeds()[{{ loop.index - 1 }}], {bits: true})"></span>/s
                </div>
                <div class="span4">
                    <span class="tiny-text">{{ _("Up") }}</span><br/>
                    <span data-bind="text: filesize($root.uploadSpeeds()[{{ loop.index - 1 }}], {bits: true})"></span>/s
                </div>
                <!-- ko with: $data.speed -->
                    <div class="span4">
                        <span class="tiny-text">{{ _("Link Speed") }}</span><br/>
                        <span data-bind="text: $data >= 1000 ? $data / 1000 : $data"></span> <span data-bind="text: $data >= 1000 ? '{{ _('Gb') }}' : '{{ _('Mb') }}'"></span>/s
                    </div>
                <!-- /ko -->
            </div>
            <div class="row-fluid">
                <!-- ko with: addrs.filter(function(address){return address.family === 2;}) -->
                    <div class="span4">
                        <!-- ko if: $data.length === 1 -->
                            <span class="tiny-text">{{ _("IPv4 address") }}</span><br/>
                        <!-- /ko -->
                        <!-- ko if: $data.length > 1 -->
                            <span class="tiny-text">{{ _("IPv4 addresses") }}</span><br/>
                        <!-- /ko -->
                        <ul data-bind="foreach: $data" class="unstyled address-list">
                            <li data-bind="text: address"></li>
                        </ul>
                    </div>
                <!-- /ko -->
                <!-- ko with: addrs.find(function(address){return address.family === -1 || address.family === 17;}) -->
                    <div class="span8">
                        <span class="tiny-text">{{ _("MAC address") }}</span><br/>
                        <span data-bind="text: address"></span>
                    </div>
                <!-- /ko -->
            </div>
            <div class="row-fluid">
                <!-- ko with: addrs.filter(function(address){return address.family === 23 || address.family === 10;}) -->
                    <div class="span12">
                        <!-- ko if: $data.length === 1 -->
                            <span class="tiny-text">{{ _("IPv6 address") }}</span><br/>
                        <!-- /ko -->
                        <!-- ko if: $data.length > 1 -->
                            <span class="tiny-text">{{ _("IPv6 addresses") }}</span><br/>
                        <!-- /ko -->
                        <ul data-bind="foreach: $data" class="unstyled address-list">
                            <li data-bind="text: address"></li>
                        </ul>
                    </div>
                <!-- /ko -->
            </div>
        <!-- /ko -->
    </div>
{% endfor %}
