{% if plugin_resource_monitor_temp %}
    <div id="resource_monitor_temp_tab" class="tab-pane">
        <div class="row-fluid">
            <div class="span12">
                <h4>{{ _("Temperature") }}</h4>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 detail-plot-container">
                <div class="detail-plot"></div>
            </div>
        </div>
        <!-- ko with: temp() -->
            <div class="row-fluid resource-details">
                <div class="span4">
                    <span class="tiny-text">{{ _("Current") }}</span><br/>
                        <span data-bind="text: celsius.current.toFixed(1),
                                         visible: $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'celsius'"></span>
                        <span data-bind="visible:  $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'celsius'">{{ _("°C") }}</span>

                        <span data-bind="text: fahrenheit.current.toFixed(1),
                                         visible: $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'fahrenheit'"></span>
                        <span data-bind="visible:  $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'fahrenheit'">{{ _("°F") }}</span>
                </div>
            </div>
        <!-- /ko -->
    </div>
{% endif %}
