{% if plugin_resource_monitor_temp["celsius"] %}
    <div id="resource_monitor_temp_tab" class="tab-pane">
        <div class="row-fluid">
            <div class="span12">
                <h4>{{ _("Temperature") }}</h4>
            </div>
        </div>
        <!-- ko with: maxTemp() -->
            <div class="row-fluid resource-scale">
                <span class="tiny-text" data-bind="text: $data"></span>
            </div>
        <!-- /ko -->
        <div class="row-fluid">
            <div class="span12 detail-plot-container">
                <div class="detail-plot"></div>
            </div>
        </div>
        <!-- ko with: minTemp() -->
            <div class="row-fluid resource-scale">
                <span class="tiny-text" data-bind="text: $data"></span>
            </div>
        <!-- /ko -->
        <!-- ko with: temp() -->
            <div class="row-fluid resource-details">
                <div class="span4">
                    <span class="tiny-text">{{ _("Current") }}</span><br/>
                        <!-- ko with: celsius -->
                            <span data-bind="text: current.toFixed(1),
                                             visible: $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'celsius'"></span>
                            <span data-bind="visible:  $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'celsius'">{{ _("°C") }}</span>
                        <!-- /ko -->
                        <!-- ko with: fahrenheit -->
                            <span data-bind="text: current.toFixed(1),
                                             visible: $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'fahrenheit'"></span>
                            <span data-bind="visible:  $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'fahrenheit'">{{ _("°F") }}</span>
                        <!-- /ko -->
                </div>
            </div>
        <!-- /ko -->
    </div>
{% endif %}
