<li>
    <a href="#resource_monitor_memory_tab" data-toggle="tab">
        <div class="row-fluid">
            <div class="span5">
                <div id="resource-monitor-mini-memory" class="mini-plot"></div>
            </div>
            <div class="span7">
                {{ _("Memory") }}<br/>
                <span class="tiny-text">
                    <!-- ko with: memory() -->
                        <!-- ko with: filesize(total, {output: "exponent"}) -->
                            <span data-bind="text: filesize($parent.used, {output: 'object', exponent: $data, round: 1}).value"></span>/<span data-bind="text: filesize($parent.total, {output: 'object', exponent: $data, round: 1}).value"></span>
                            <span data-bind="text: filesize($parent.total, {output: 'object', exponent: $data}).symbol"></span>
                            (<span data-bind="text: Math.round($parent.percent)"></span>%)
                        <!-- /ko -->
                    <!-- /ko -->
                </span>
            </div>
        </div>
    </a>
</li>
