{% if plugin_resource_monitor_temp %}
    <li>
        <a href="#resource_monitor_temp_tab" data-toggle="tab">
            <div class="row-fluid">
                <div class="span5">
                    <div id="resource-monitor-mini-temp" class="mini-plot"></div>
                </div>
                <div class="span7">
                    {{ _("Temperature") }}<br/>
                    <span class="tiny-text">
                        <!-- ko with: temp() -->
                                <span data-bind="text: celsius.current.toFixed(1),
                                                 visible: $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'celsius'"></span>
                                <span data-bind="visible:  $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'celsius'">{{ _("°C") }}</span>

                                <span data-bind="text: fahrenheit.current.toFixed(1),
                                                 visible: $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'fahrenheit'"></span>
                                <span data-bind="visible:  $root.settingsViewModel.settings.plugins.resource_monitor.temperature.unit() === 'fahrenheit'">{{ _("°F") }}</span>
                        <!-- /ko -->
                    </span>
                </div>
            </div>
        </a>
    </li>
{% endif %}
