div.resource-monitor-cpu {
    height: 350px;
    width: 100%;
}

#tab_plugin_resource_monitor .tab-content {
    border-right: 0px;
    border-bottom: 0px;
    margin-left: 0px;
}

div.resource-monitor-mini-plot {
    height: 40px;
    width: 60px;
    background-color: #ffffff;
    display: inline-block;
}
