#tab_plugin_resource_monitor {
    margin: -5px -10px;
}

#tab_plugin_resource_monitor .nav-list > li > a {
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 5px;
}

#tab_plugin_resource_monitor .tab-content {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

#tab_plugin_resource_monitor .mini-plot {
    height: 40px;
    width: 60px;
    background-color: #ffffff;
}

#tab_plugin_resource_monitor .nav-list li div.span7 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#tab_plugin_resource_monitor .tab-content .tab-pane h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#tab_plugin_resource_monitor .tab-content .tab-pane .row-fluid div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tiny-text {
    font-size: smaller;
}

#tab_plugin_resource_monitor .detail-plot-container {
    width: 100%;
    height: 250px;
}

#tab_plugin_resource_monitor .cpu-grid {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
}

#tab_plugin_resource_monitor .cpu-grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

#tab_plugin_resource_monitor .cpu-grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

#tab_plugin_resource_monitor .cpu-grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

#tab_plugin_resource_monitor .cpu-grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

#tab_plugin_resource_monitor .detail-plot {
    width: 100%;
    height: 100%;
}

#tab_plugin_resource_monitor .resource-details {
    margin-top: 15px;
}

#tab_plugin_resource_monitor .resource-scale {
    text-align: right;
    height: 17px;
}

.address-list {
    margin-bottom: 0;
}
