#tab_plugin_resource_monitor {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    margin-bottom: -5px;
}

#tab_plugin_resource_monitor .nav-list > li > a {
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 5px;
}

div.resource-monitor-cpu {
    height: 350px;
    width: 100%;
}

#tab_plugin_resource_monitor .tab-content {
    border-radius: 0px;
    border-right: 0px;
    border-bottom: 0px;
    margin-left: 0px;
}

div.resource-monitor-mini-plot {
    height: 40px;
    width: 60px;
    background-color: #ffffff;
}

#tab_plugin_resource_monitor .nav-list li div.span7 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tiny-text {
    font-size: smaller;
}
