#tab_plugin_resource_monitor {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    margin-bottom: -5px;
}

#tab_plugin_resource_monitor .nav-list > li > a {
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 5px;
}

#tab_plugin_resource_monitor .tab-content {
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

div.resource-monitor-mini-plot {
    height: 40px;
    width: 60px;
    background-color: #ffffff;
}

#tab_plugin_resource_monitor .nav-list li div.span7 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tiny-text {
    font-size: smaller;
}

#tab_plugin_resource_monitor .cpu-grid {
    width: 100;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
}

#tab_plugin_resource_monitor .cpu-grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

#tab_plugin_resource_monitor .cpu-grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

#tab_plugin_resource_monitor .cpu-grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

#tab_plugin_resource_monitor .cpu-grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

div.resource-monitor-cpu-core {
    width: 100%;
}

#tab_plugin_resource_monitor .cpu-grid-1 div.resource-monitor-cpu-core {
    height: 280px;
}

#tab_plugin_resource_monitor .cpu-grid-2 div.resource-monitor-cpu-core {
    height: 140px;
}

#tab_plugin_resource_monitor .cpu-grid-3 div.resource-monitor-cpu-core {
    height: 93px;
}

#tab_plugin_resource_monitor .cpu-grid-4 div.resource-monitor-cpu-core {
    height: 70px;
}
